:root{
    --teal: #2ec;
    --teal_hover:#279e8c;
}


*{
    font-family: 'Poppins' ,'sans-serif';
}
.h-font{
    font-family:'Merienda',cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.custom-bg{
    background-color: var(--teal);
    border: 1px solid var(--teal);
}

.custom-bg:hover{
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}

.h-line {
    width: 100px;    
    height: 2px;     
    background-color: #000; 
    margin: 8px auto 0 auto;  
}

.custom-alert{
    position:fixed;
    top: 25px;
    right: 25px;
    z-index: index 1111; ;
}