:root{
    --teal: rgb(34, 238, 204);
    --teal_hover: rgb(39, 158, 140);
}

*{
    font-family: 'Poppins' ,'sans-serif';
}
.h-font{
    font-family:'Merienda',cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.custom-bg{
    background-color: var(--teal) !important;
    border:none;
    color: white !important;
}

.custom-bg:hover{
    background-color: var(--teal_hover) !important;
    color: white !important;
}

.btn.custom-bg{
    background-color: var(--teal, #22eecc) !important;
    border:none;
    color: white !important;
}

.btn.custom-bg:hover{
    background-color: var(--teal_hover, #279e8c) !important;
    color: white !important;
}

.h-line {
    width: 100px;    
    height: 2px;     
    background-color: #000; 
    margin: 8px auto 0 auto;  
}

.custom-alert{
    position: fixed;
    top: 150px;            
    right: 20px;
    z-index: 2000;        
    width: auto;
    max-width: 400px;
}
