:root{
    --teal: #2ec;
    --teal_hover:#279e8c;
}


*{
    font-family: 'Poppins' ,'sans-serif';
}
.h-font{
    font-family:'Merienda',cursive;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.box{
        border-top-color:var(--teal);
      }

input[type=number] {
    -moz-appearance: textfield;
}

.custom-bg{
    background-color: var(--teal);
    border: 1px solid var(--teal);
}

.custom-bg:hover{
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}
.h-line{
          width: 60px;
          height: 3px;
        }  

